<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.appsofluna.simpleapps" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>appsofluna-simpleapps</name>
  <description>
    SimpleApps (by AppsoFluna): A web-based tool to create simple applications.
  </description>
  <author email="charaka@appsofluna.com" href="http://www.appsofluna.com/">
    Charaka Gunatillake
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
